@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
<a class="nav_logo navbar-brand" href="~/">
    @if (!BrandingProvider.LogoUrl.IsNullOrWhiteSpace())
    {
        <img src="@BrandingProvider.LogoUrl" alt="@BrandingProvider.AppName" style="height: 30px;margin-bottom: 2px;">
    }
    <span class="nav_logo-name">@BrandingProvider.AppName</span>
</a>
