@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
<a class="nav_logo navbar-brand" href="~/">
    @if (!BrandingProvider.LogoUrl.IsNullOrWhiteSpace())
    {
        <img src="@BrandingProvider.LogoUrl" alt="@BrandingProvider.AppName" >
    }
    <span class="nav_logo-name">@BrandingProvider.AppName</span>
</a>
