@using Microsoft.AspNetCore.Mvc.Localization
@using Nerd.Abp.ThemeManagement.Localization
@using Nerd.Abp.ThemeManagement.Permissions
@using Volo.Abp.Authorization.Permissions
@inject IHtmlLocalizer<ThemeManagementResource> L
@inject IPermissionChecker PermissionChecker
@model Nerd.Abp.ThemeManagement.Pages.SettingManagement.Components.ThemeSettingGroup.NerdThemeSettingViewComponent.ThemeSettingViewModel

<abp-script src="/Pages/SettingManagement/Components/ThemeSettingGroup/Default.js" />

<form id="BrandSettingForm" method="post">
    <abp-row>
        <abp-column size-md="_12">
            <div>
                <abp-input asp-for="LogoUrl" />
                <abp-input asp-for="LogoReverseUrl" />
            </div>
            <hr class="my-4" />
            <div>
                <abp-button button-type="Primary" type="submit">
                    <i class="fa fa-save"></i> @L["Save"]
                </abp-button>
            </div>
        </abp-column>
    </abp-row>
</form>
